@import "tailwindcss";

.max-w-9xl {
    max-width: 1580px;
}

.max-w-10xl {
    max-width: 1920px;
}


.hero-inner-div .swiper-pagination-bullet {
    width: 60px;
    height: 6px;
    background: #333331;
    opacity: 0.3;
    margin: 0 6px;
    border-radius: 4px;
    /* Changed from 50% for rectangle shape */
    transition: all 0.3s ease;
}

.hero-inner-div .swiper-pagination-bullet-active {
    opacity: 1;
    background: #333331;
}

.swiper-navigation-icon {
    height: 24px !important;
    pointer-events: none;
    display: none;
}

/* OTP verification style code */
#otp-input {
  display: flex;
  gap: 0.5em;
}
#otp-input input {
  /* padding: 0.5em 0; */
  text-align: center;
}


/* hide spinner */
#otp-input input::-webkit-outer-spin-button,
#otp-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* #otp-input input[type=number] {
  -moz-appearance:textfield;
} */

/*  */

div.iti.iti--allow-dropdown {
    width: 100%;
    border: 2px solid #333331 !important;
    border-radius: 50px;
    font-family: 'Roboto';
    padding: 2px 0px 2px 50px !important;
    font-size: 18px;
}

div.iti__country-container {
    padding: 16px 0px 16px 30px !important;
}

.iti__selected-country-primary {
    transform: scale(1.4);
    margin-right: 10px !important;
}

.iti__search-input {
    outline: none;
}

/* Dropzonejs custom style */
.dz-preview{
    width: 100px !important;
    height: auto !important;
    position: relative !important;
    display: inline-block !important;
    margin: 20px 8px !important;
    box-sizing: border-box !important;
    border-radius: 8px !important;
    overflow: hidden !important;
    box-shadow: 0 2px 4px rgba(0, 0,
    0, 0.1) !important;
    padding: 4px !important;
}
.dz-preview .dz-image{
    width: 100% !important;
    height: 100px !important;
    border-radius: 8px !important;
    overflow: hidden !important;
}

.dz-preview .dz-success-mark{
    display: none !important;
}

.dz-preview .dz-error-mark{
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    color: rgba(0, 0, 0, 0.473) !important;
}

.dz-preview .dz-error-mark svg{
    width: 20px !important;
    height: 20px !important;
}
.dz-preview .dz-error-mark svg g{
    fill: currentColor !important;
    stroke-width: 0 !important;
}
.dz-details .dz-size{
    font-size: 12px !important;
    margin-top: 4px !important;
    white-space: wrap !important;
    width: 100% !important;
}
.dz-details .dz-filename{
    font-size: 12px !important;
    margin-top: 4px !important;
    white-space: wrap !important;
    width: 100% !important;
}

.dz-error-message{
    font-size: 10px !important;
    margin-top: 4px !important;
    color: red !important;
    white-space: wrap !important;
    width: 100% !important;
}






@media (max-width: 475px) {
    .hero-inner-div .swiper-pagination-bullet {
        width: 25px;
    }
}


@media (max-width: 1279px) {
    .iti__selected-country-primary {
        transform: scale(1.3);
        margin-right: 8px !important;
    }

    div.iti__country-container {
        padding: 14px 0px 14px 24px !important;
    }

    div.iti.iti--allow-dropdown {
        padding: 2px 0px 2px 35px !important;
        font-size: 16px;
    }
}

@media (max-width: 1023px) {
    .iti__selected-country-primary {
        transform: scale(1.2);
        margin-right: 6px !important;
    }

    div.iti__country-container {
        padding: 12px 0px 12px 20px !important;
    }

    div.iti.iti--allow-dropdown {
        padding: 2px 0px 2px 25px !important;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .iti__selected-country-primary {
        transform: scale(1.1);
        margin-right: 4px !important;
    }

    div.iti__country-container {
        padding: 10px 0px 10px 18px !important;
    }

    div.iti.iti--allow-dropdown {
        padding: 2px 0px 2px 20px !important;
        font-size: 12px;
    }
}